fastapi==0.111.0
uvicorn==0.30.0

langchain>=0.2.17
langchain-core>=0.2.43
langchain-community>=0.2.17
langchain-text-splitters
langchain-ollama

langgraph>=0.2.35,<1.2

chromadb==0.5.5
pydantic==2.8.2
python-dotenv==1.0.1